<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ontario Forager</title>
</head>
<body>
    
 
    {% extends 'base.html' %}
    {% block content %}
    <h1 class='headline'>About Ontario Forager</h1>
    <hr />

    <p class='info'>Ontario Forager is meant to be used as a guide for foraging in Ontario.</p>

    {% endblock %}
   
</body>
</html>