   
 
    {% extends 'base.html' %}
    {% block content %}
  
    <h1 id="index-title">Plants</h1>
    <img class="underlineindex" src="../static/images/leavessmall.png">
    {% for plant in plants %}

    <div class="card">
      <a href="/plant/{{ plant.id }}"></a>
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="">
      </div>
      <div id="front" class="card-content">
        <span id="title" class="card-title activator grey-text text-darken-4">{{ plant.name }}</span>
        <hr/>
        <p><b>Location:</b> {{ plant.location }}</p>
        <br/>
        <p><b>Description:</b> {{ plant.description }}</p>
        <br/>
        <p><b>Harvest Season:</b> {{ plant.harvest_season }}</p>
      </div>
      <div id="info" class="card-reveal">
        <span id="title" class="card-title grey-text text-darken-4">{{ plant.name }}</span>
        <hr class="linerule"/>
        <p><b>Medicinal Use:</b> {{ plant.medicinal_use }}</p>
        <br/>
        <p><b>Cautions:</b> {{ plant.cautions }}</p>
        <br/>
        <p><b>Culinary Use:</b> {{ plant.culinary_use }}</p>
        <a href="" class="btn btn-2">See Recipes</a> 
        <a href="" class="btn btn-2">Add A Recipe</a> 
      </div>
    </div>

  {% endfor %}


    {% endblock %}
   
</body>
</html>