{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ontario Forager</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Cantora+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <ul>
          <li><a href="/" class="left teal lighten-2 brand-logo hoverable">&nbsp;&nbsp;Ontario Forager</a></li>
        </ul>
        <ul class="right teal lighten-2" id='size'>
          <li ><a href="/about">About</a></li>
          <li><a href="/index">All Plants</a></li>  
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer teal lighten-2">
    <div class="right teal lighten-2">All Rights Reserved, &copy; 2021 Ontario Forager &nbsp;</div>
  </footer>
</body>
</html>