    {% extends 'base.html' %}
    {% block content %}

    <h3 id="category">Choose your category:</h3>
    <img class="underline" src="../static/images/leavessmall.png">
    <div id='width'>
    <div id='home' class="card hoverable">
        <a href="/plant/Tree/">
        <div class="card-content">
        <span class="card-title">Trees</span>
        </div>
        </a>
    </div>
    <div class="card hoverable">
        <a href="/plant/Flowers/">
        <div class="card-content">
        <span class="card-title">Flowers</span>
        </div>
        </a>
    </div>
    <div class="card hoverable">
        <a href="/plant/Berries/">
        <div class="card-content">
        <span class="card-title">Berries</span>
        </div>
        </a>
    </div>
    <div class="card hoverable">
        <a href="/plant/Grasses/">
        <div class="card-content">
        <span class="card-title">Grasses</span>
        </div>
        </a>
    </div>
    <div class="card hoverable">
        <a href="/plant/Fungi/">
        <div class="card-content">
        <span class="card-title">Fungi</span>
        </div>
        </a>
    </div>
    </div>

  {% endblock %}

</body>
</html>