<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <h1>Plants</h1>
    
    <div class="card hoverable">
        <a href="/plant/{{ plant.id }}">
        <div class="card-content">
        <span class="card-title">Trees</span>
        <p>Trees</p>
        </div>
        </a>
    </div>


  {% endblock %}

</body>
</html>