body {
  font-family: 'Special Elite', cursive;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../images/conifer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  
main {
  flex: 1 0 auto;
}
 
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.nav-wrapper, .left, .right, .page-footer {
  background-image: url('../images/leaves3.jpg');
} 

.headline {
  font-size: 100px;
}

.info {
  font-size: 40px;
}

#size {
  font-size: 40px;
}

a {
  color: inherit;
}

#category {
  margin-top: 3rem;
  text-align: center;
}

#home {
  margin-top: 25px;
}

#leavessort {
  margin-top: -30px;
  margin-left: 24rem;
  margin-bottom: -2rem;
  size: 80%;
}

.underline {
  margin-top: -40px;
  margin-left: 24rem;
  margin-bottom: -3rem;
  size: 80%;
}

.underlineindex {
  margin-top: -2rem;
  margin-left: 24rem;
  margin-bottom: -1rem;
  size: 80%;  
}

hr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.card {
  margin: auto;
  float: none; /* Added */
  margin-bottom: 15px; 
  font-family: font-family: 'Special Elite', cursive;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
  background-size: 100%;
  max-width: 75rem;
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.card-reveal {
  background-color: rgb(148, 133, 92) !important;
}

#index-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: -1rem;
}

#title {
  font-weight: bold !important;
  font-size: 30px;
}

#front {
  font-size: 25px;
}

#info {
  font-size: 25px;
}

#width {
  max-width: 15rem;
  margin: auto;
}